  <!--INICIO DA SIDEBAR-->
            <div class="sidebar">
                <a href="index.html" class="sidebar-nav active"><i class="icon fa-solid fa-house fa-bounce" style="color: #13c91f;"></i><span>Dashboard</span></a>

                <button class="dropdown-btn ">
                    <i class="icon fa-solid fa-users-viewfinder fa-spin fa-spin-reverse" style="color: #13c91f;"></i><span>Dropdown</span><i class="fa-solid fa-chevron-down" style="color: #13c91f;"></i>
                </button>
                <div class="dropdown-container">
                    <a href="#" class="sidebar-nav"><i class="icon fa-solid fa-person" style="color: #13c91f;"></i><span>Link 1</span></a>

                    <a href="sidebar_dropdown.html" class="sidebar-nav"><i class="icon fa-solid fa-user-gear" style="color: #13c91f;"></i><span>Link 2</span></a>
                    
                    <a href="#" class="sidebar-nav"><i class="icon fa-solid fa-circle-user" style="color: #13c91f;"></i><span>Link 3</span></a>

                </div>

                <button class="dropdown-btn">
                    <i class="icon fa-solid fa-earth-africa fa-spin fa-spin-reverse" style="color: #13c91f;"></i><span>Dropdown</span><i class="fa-solid fa-chevron-down" style="color: #13c91f;"></i>
                </button>
                <div class="dropdown-container">
                   
                    <a href="#" class="sidebar-nav"><i class="icon fa-solid fa-truck-pickup" style="color: #13c91f;"></i><span>Link 1</span></a>

                    <a href="#" class="sidebar-nav"><i class="icon fa-solid fa-bus-simple" style="color: #13c91f;"></i><span>Link 2</span></a>

                    <a href="#" class="sidebar-nav"><i class="icon fa-solid fa-ship" style="color: #13c91f;"></i><span>Link 3</span></a>
                    
                    <a href="sidebar_dropdown2.html" class="sidebar-nav"><i class="icon fa-solid fa-plane-departure" style="color: #13c91f;"></i><span>Link 4</span></a>

                </div>

                <a href="listar.html" class="sidebar-nav"><i class="icon fa-solid fa-users-rays fa-fade" style="color: #13c91f;"></i><span>Listar</span></a>

                <a href="formulario.html" class="sidebar-nav"><i class="icon fa-solid fa-file-circle-plus fa-beat" style="color: #13c91f;"></i><span>Formulário</span></a>

                <a href="visualizar.html" class="sidebar-nav"><i class="icon fa-solid fa-eye fa-fade" style="color: #13c91f;"></i><span>Visualizar</span></a>

                <a href="alert.html" class="sidebar-nav"><i class="icon fa-solid fa-triangle-exclamation fa-shake"  style="color: #13c91f;"></i><span>Alerta</span></a>

                <a href="button.html" class="sidebar-nav"><i class="icon fa-solid fa-check-to-slot fa-flip"   style="color: #13c91f;"></i><span>Botão</span></a>

                <a href="login.html" class="sidebar-nav"><i class="icon fa-solid fa-right-from-bracket" style="color: #13c91f;"></i><span>Sair</span></a>

            </div>
            <!--FIM DA SIDEBAR-->