 <div class="container-login">
                <div class="wrapper-login">
                <div class="title">
                    <span>Ãrea Restrita</span>
                </div>
                <form action="#" class="form-login">
                    <div class="row">
                        <i class="fa-solid fa-user-tie"></i>
                     <input type="text" placeholder="E-mail" required>   
                    </div>
                    <div class="row">
                        <i class="fa-solid fa-lock"></i>
                    <input type="password" placeholder="Senha" required>
                    </div>

                    <div class="row button">
                        <input type="submit" value="Acessar">
                    </div>
                    <div>
                    </div>
                        <div class="signup-link">
                            <a href="#">Cadastrar</a> - <a href="#">Esqueceu a senha?</a>
                        </div>
                    </div>
                </form>
            </div>